<app-alert *ngIf="showAlert" [color]="alertColor">
  {{ alertMsg }}
</app-alert>
<!-- Registration Form -->
<form [formGroup]="registerForm" (ngSubmit)="register()">
    <!-- Name -->
    <div class="mb-3">
      <label class="inline-block mb-2">Nombre</label>
      <app-input [control]="name" placeholder="Ingresa tu nombre"></app-input>
    </div>
    <!-- Email -->
    <div class="mb-3">
      <label class="inline-block mb-2">Email</label>
      <app-input [control]="email" type="email" placeholder="Ingresa tu email"></app-input>
    </div>
    <!-- Age -->
    <div class="grid grid-cols-6 gap-2 mb-3">
      <div class="col-span-2 sm:col-span-2">
        <label class="inline-block mb-2">Edad</label>
        <app-input [control]="age" type="number" placeholder="Ingresa tu edad"></app-input>
      </div>
      <div class="col-span-4 sm:col-span-4">
        <label class="inline-block mb-2">Teléfono</label>
        <app-input [control]="phoneNumber" placeholder="Ingresa tu número telefónico" format="(+000) 00000000"></app-input>
      </div>
    </div>
    <!-- Password -->
    <div class="mb-3">
      <label class="inline-block mb-2">Password</label>
      <app-input [control]="password" type="password" placeholder="Ingresa tu contraseña"></app-input>
    </div>
    <!-- Confirm Password -->
    <div class="mb-3">
      <label class="inline-block mb-2">Confirm Password</label>
      <app-input [control]="confirm_password" type="password" placeholder="Confirma tu contraseña"></app-input>
    </div>
    <!-- Check -->
    <div class="mb-3">
      <label class="relative flex mb-8 items-center">
        <input class="relative ml-10 appearance-none" type="checkbox">
        <button class="absolute top-1/2 left-0 transform -translate-y-1/2 h-6 w-6">
          <svg width="27" height="27" viewbox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="27" height="27" rx="8" fill="indigo"></rect>
            <path d="M11.4534 19L6 13.6758L6.72022 12.9726L11.4534 17.5937L21.2798 8L22 8.70316L11.4534 19Z" fill="white"></path>
          </svg>
        </button>
        <span class="ml-2 text-sm text-gray-400">Shipping address is the same as my billing address</span>
      </label>
    </div>
    <button type="submit" [disabled]="registerForm.invalid"
      class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition
        hover:bg-indigo-500 disabled:opacity-50 disabled:bg-indigo-400">
      Submit
    </button>
  </form>