<app-alert *ngIf="showAlert" [color]="alertColor" [loading]="loading">
  {{ alertMsg }}
</app-alert>
<!-- Registration Form -->
<form [formGroup]="registerForm" (ngSubmit)="register()">
    <!-- Name -->
    <div class="mb-3">
      <label class="inline-block mb-2">Nombre</label>
      <app-input [control]="name" placeholder="Ingresa tu nombre"></app-input>
    </div>
    <!-- Email -->
    <div class="mb-3">
      <label class="inline-block mb-2">Email</label>
      <app-input [control]="email" type="email" placeholder="Ingresa tu email"></app-input>
    </div>
    <!-- Age -->
    <div class="grid grid-cols-6 gap-2 mb-3">
      <div class="col-span-2 sm:col-span-2">
        <label class="inline-block mb-2">Edad</label>
        <app-input [control]="age" type="number" placeholder="Ingresa tu edad"></app-input>
      </div>
      <div class="col-span-4 sm:col-span-4">
        <label class="inline-block mb-2">Teléfono</label>
        <app-input [control]="phoneNumber" placeholder="Ingresa tu número telefónico" format="(+000) 00000000"></app-input>
      </div>
    </div>
    <!-- Password -->
    <div class="grid grid-cols-6 gap-2 mb-3">
      <div class="col-span-3 sm:col-span-3">
        <label class="inline-block mb-2">Contraseña</label>
        <app-input [control]="password" type="password" placeholder="Ingresa tu contraseña"></app-input>
      </div>
      <!-- Confirm Password -->
      <div class="col-span-3 sm:col-span-3">
        <label class="inline-block mb-2">Confirma tu contraseña</label>
        <app-input [control]="confirm_password" type="password" placeholder="Confirma tu contraseña"></app-input>
      </div>
    </div>
    <!-- Check -->
    <div class="flex justify-center">
        <div class="flex form-check">
          <input class="form-check-input h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-indigo-400 checked:border-indigo-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label text-gray-500 inline-block text-sm mb-4" for="flexCheckDefault">
            Estoy de acuerdo con las políticas de privacidad.
          </label>
        </div>
    </div>
    <button type="submit" [disabled]="registerForm.invalid || inSubmission"
      class="block w-full bg-stone-900 text-white py-1.5 px-3 rounded transition
        hover:bg-stone-800 disabled:opacity-50 disabled:bg-stone-600">
      Registrarme
    </button>
  </form>
