<input [formControl]="control" [type]="type"
    class="block w-full py-1.5 px-3 text-stone-800 border border-gray-400 transition
    duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
    [placeholder]="placeholder" [mask]="format" [dropSpecialCharacters]="false" />
<ng-container *ngIf="control.touched && control.dirty">
    <p *ngIf="control.errors?.required" class="text-red-400">
        Este campo es requerido.
    </p>
    <p *ngIf="control.errors?.minlength" class="text-red-400">
        Nombre es muy corto (Tiene 
        {{ control.errors?.minlength.actualLength }}
            carácteres).
            Nombre debe tener al menos  
            {{ control.errors?.minlength.requiredLength }}
            carácteres.
    </p>
    <p *ngIf="control.errors?.email" class="text-red-400">
        Email no válido
    </p>
    <p *ngIf="control.errors?.min" class="text-red-400">
        Edad es menor al límite permitido
    </p>
    <p *ngIf="control.errors?.max" class="text-red-400">
        Edad es mayor al límite permitido
    </p>
    <p *ngIf="control.errors?.pattern" class="text-red-400">
        Contraseña debe tener al menos 8 carácteres, 1 carácter en mayúscula, 1 carácter en minúscula y un número.
    </p>
    <p *ngIf="control.errors?.noMatch" class="text-red-400">
        Las contraseñas no coinciden.
    </p>
    <p *ngIf="control.errors?.emailTaken" class="text-red-400">
        Este email esta siendo usado por otro usuario. 
    </p>
</ng-container>
