<!-- Intro Section -->
<section class="relative h-screen mb-4"> 
    <!-- The video -->
    <video autoplay muted loop class="w-full h-full object-cover absolute z-0">
      <source src="assets/video/hero.webm" type="video/webm">
    </video>
  
    <div class="bg-gradient absolute w-full h-full z-40 opacity-60"></div>
  
    <div class="container mx-auto relative z-50">
      <div class="text-center px-20 py-60 w-full md:w-8/12 mx-auto">
        <!-- <h1 class="text-7xl font-bold uppercase mb-2">Clip it and ship it!</h1>
        <p>
          The #1 app to watch, clip, and share your awesome gaming moments
          with your friends and the world! With our world-class tools, we make
          it incredibly easy to share your videos. Get started today!
        </p> -->
      </div>
    </div>
  </section>
  
  <!-- Main Content -->
  <section class="container mx-auto text-stone-900 px-4">
    <span class="uppercase bg-zinc-800 text-gray-200 text-center text-4xl grid mt-8 py-4 items-center tracking-widest font-bold rounded">Lo último</span>
  <app-clips-list></app-clips-list>
  </section>
